.footer {
    height: 115px;
    min-width: 100% !important;
    position: absolute;
    bottom: 0;
    text-align: center;
    word-spacing: 0.5em;
    letter-spacing: 0.5em;
    font-size: 14px;
    color: white;
    overflow-x: auto;
    background-color: #343A40;

}

.iconArr {
    width: 20px;
    margin-left: 12px;
}

