.game-style {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100% !important;
    overflow: hidden;
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-info {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}